/* Authorization Component */
.auth-container {
  width: 450px;
  height: 361px;
  display: flex;
  flex-direction: column;
}

.auth-button {
  width: 225px;
  height: 48px;
}

/*Login or Register Components*/
.auth-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 21px 48px;
}

.auth-form {
  flex: 1;
}

.auth-form-button {
  width: 100%;
  display: flex;
  justify-content: end;
}